@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@import "tailwindcss";

@theme {
  --animate-shakyBounce: shakyBounce 1s ease-out;
  --animate-bounceUpDown: bounceUpDown 3.2s ease-in-out infinite 1.2s;
  --animate-bounceDownUp: bounceDownUp 3.2s ease-in-out infinite 1.2s;
  --color-strongText: #1DA077;
  --color-bg21: #F45B5B;
  --color-bg22:#5492A0;
  --color-bg23:#6C64A8;
  --color-bg24:#A88964;
 --font-outfit:"Outfit";


  @keyframes shakyBounce {

    0%,
    100% {
      transform: translate(0px, 0px);
    }

    25% {
      transform: translate(4px, 4px);
    }

    50% {
      transform: translate(-4px, -4px);
    }

    75% {
      transform: translate(2px, 2px);
    }
  }

  @keyframes bounceUpDown {
    0% {
      transform: translateY(0);
    }

    25% {
      transform: translateY(-8px);
    }

    50% {
      transform: translateY(8px);
    }

    75% {
      transform: translateY(-8px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes bounceDownUp {
    0% {
      transform: translateY(0);
    }

    25% {
      transform: translateY(8px);
    }

    50% {
      transform: translateY(-8px);
    }

    75% {
      transform: translateY(8px);
    }

    100% {
      transform: translateY(0);
    }
  }











}